body {
    background-color: #171615;
    color: white;
    font-family: 'Minecraftia', sans-serif;
    margin-top: 6rem;
}

@font-face {
    font-family: 'Minecraftia';
    src: url('/assets/fonts/Minecraftia-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.description-label {
    margin-top: 0.9em;
    font-size: 0.8em;
    color: #b8bbc2;
}

.main-title {
    font-weight: bold;
    font-size: 4em;
}

.category-title {
    font-weight: bold;
    margin-top: 2em;
}